.cols-3 > tr > td {
  width: 32%
}
.cols-4 > tr > td {
  width: 24%
}
.cols-5 > tr > td {
  width: 19%
}
.cols-6 > tr > td {
  width: 15%
}
table > thead {
  font-weight: bold;
}
table {
    background-color: #aaa;
    width:400px;
}
tbody {
    background-color: #ddd;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}
thead > tr > td {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
td {
    padding: 3px 10px;
    display: inline-block;
    box-sizing: border-box;
    /* border: 1px solid black;
    border-collapse: collapse; */
}

tr, tbody{
    display:block;
}

.my_scroll_div{
    overflow-y: auto;
    max-height: 150px;
    width:max-content;
}

/* Details */
details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  width:fit-content;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

/* Tab css */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent > table {
  max-width: 800px;
  height: 200px;
  overflow-x:auto;
  /* width:max-content; */
  
}
.tablecontent > table > tbody {
  height: 250px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}