# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.conda

# Data and models (too large for Git)
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Logs
*.log
logs/

# Stim data
# Ignore CSV and NPZ files in stim_files/data/
stim_files/data/*.csv
stim_files/data/*.npz